.earth{
  position: relative;
  width: 500px;
  height: 500px;
  background-size: cover;
  border-radius: 50%;
  display: flex; 
  transition: 0.5s;
  animation: animate 12 linear infinite;
}

.earth img{
  position: absolute;
  z-index: 2;
  transition: 0.5s;
  pointer-events: none;
}
@keyframes animate
{
  0%
  {
    background-position: 0 0;
  }
  100%
  {
    background-position: 719px 0;
  }
}