.cartochka{
    background-image: url(../../assets/cardHero.svg);
}
.bg1{
    background-image: url(../../assets/bg1.svg);
    background-repeat: no-repeat;
}

.bg2{
    background-image: url(../../assets/bg2.svg);
    background-repeat: no-repeat;

}

.bg3{
    background-image: url(../../assets/bg3.svg);
    background-repeat: no-repeat;

}

.hero2{
    margin-top: -80px;
    background-image: url(../../assets/hero2.svg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.g1{
    background-image: url(../../assets/house1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.g2{
    background-image: url(../../assets/house2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.g3{
    background-image: url(../../assets/house3.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.g4{
    background-image: url(../../assets/house4.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.g5{
    background-image: url(../../assets/house5.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.g6{
    background-image: url(../../assets/house6.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.g7{
    background-image: url(../../assets/house7.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.g9{
    background-image: url(../../assets/house8.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.g10{
    background-image: url(../../assets/house9.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroOxir{
    background-image: url(../../assets/oxirakHome.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* .hhhhh{
    background-image: url(../../assets/New-global-view.max-1000x1000.jpeg)
} */


/* body {
    background-color: black;
} */

/* .circle {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    top: 100px;
    left: 200px;
    transform: rotateZ(23.5deg);
    z-index: 1;
}

.earth {
    position: absolute;
    animation: animate 150s linear normal;
    width: 10000px;
    height: 1000px;
    background-repeat: repeat-x;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: -20px -20px 40px 10px black inset;
}

.continents {
    animation: animate-2 43s linear 3.5;
    width: 1000px;
}

@keyframes animate {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-3500px);
    }
}

@keyframes animate-2 {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-1000px);
    }
}

.continent {
    position: absolute;
    transform: rotateZ(-23.5deg);
}

.one {
    top: 100px;
    left: 140px;
}

.two {
    top: 260px;
    left: 264px;
}

.three {
    top: 80px;
    left: 490px;
}

.four {
    top: 200px;
    left: 510px;
}

.five {
    top: 100px;
    left: 680px;
}

.six {
    top: 290px;
    left: 810px;
}

.continent a {
    color: white;
    text-decoration: none;
}

.about {
    width: 600px;
    height: 800px;
    position: absolute;
    top: 50px;
    left: 800px;
    color: white;
    display: none;
}

.about img {
    width: 100%;
    height: 300px;
} */